<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/NastyLegacy/NastyLegacy">&nbsp;&nbsp;{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <li class="navbar-nav">
                <a class="nav-link" href={{ url_for('nasty') }}>Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role = "button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Databases
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href={{ url_for('usercrud.crudu') }}>User Crud</a>
                    <a class="nav-link" href={{ url_for('usercrud.search') }}>Search</a>
                </div>
            </li>
        </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class = "float-right">
            <input type="text" class="form-control" id="term" placeholder="enter student name...">
        </div>
        <div>
            <button class="btn btn-primary bg-secondary" data-bs-toggle="offcanvas" data-bs-target="#searchBar" onclick="nav_search();">Search</button>
        </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <a class="nav-link" href="http://127.0.0.1:5000/adminlogin/">Login</a>
        <a class="nav-link" href="http://127.0.0.1:5000/adminlogout/">Logout</a>
    </div>

    {% block navbar_script %}
        <!-- Navigation bar JavaScript support -->
        <script src={{  url_for("static", filename="javascript/navbar.js", version='140') }}></script>
    {% endblock %}
</nav>

<div class="offcanvas offcanvas-end bg-white text-dark" tabindex="-1" id="searchBar" aria-labelledby="offcanvasEndLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasEndLabel">Person You May be Looking For</h5>
    </div>
    <div class="offcanvas-body small">
        <div class="container">
            <table class="table">
                <tr>
                    <th>Name </th>
                    <td id="resultName"> </td>
                </tr>
                <tr>
                    <th>Group </th>
                    <td id="resultGroup"> </td>
                </tr>
                <tr>
                    <th> Grade </th>
                    <td id="resultGrade"> </td>
                </tr>
                <tr>
                    <th> Period </th>
                    <td id="resultPeriod"> </td>
                </tr>
                <tr>
                    <th> Email </th>
                    <td id="resultEmail"> </td>
                </tr>
                <tr>
                    <th> Github Username </th>
                    <td id="resultGithub"> </td>
                </tr>
                <tr>
                    <th> Slack Username </th>
                    <td id="resultSlack"> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

<script>
    function nav_search() {
        // fetch standard requires data set to a name-value pair
        const term = document.getElementById("term");
        const body = {
            term: term.value
        };

        // fetch call with header options
        fetch('/usercrud/search/term/', {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(body),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json",
                'Accept': 'application/json'
            })
        })
            // async then replies with response header
            .then(function (response) {
                // prepare HTML search result container for new output
                const resultContainer1 = document.getElementById("resultName");
                const resultContainer2 = document.getElementById("resultGroup");
                const resultContainer3 = document.getElementById("resultGrade");
                const resultContainer4 = document.getElementById("resultPeriod");
                const resultContainer5 = document.getElementById("resultEmail");
                const resultContainer6 = document.getElementById("resultGithub");
                const resultContainer7 = document.getElementById("resultSlack");
                // clean up from previous search
                while (resultContainer1.firstChild) {
                    resultContainer1.removeChild(resultContainer1.firstChild);
                }
                while (resultContainer2.firstChild) {
                    resultContainer2.removeChild(resultContainer2.firstChild);
                }
                while (resultContainer3.firstChild) {
                    resultContainer3.removeChild(resultContainer3.firstChild);
                }
                while (resultContainer4.firstChild) {
                    resultContainer4.removeChild(resultContainer4.firstChild);
                }
                while (resultContainer5.firstChild) {
                    resultContainer5.removeChild(resultContainer5.firstChild);
                }
                while (resultContainer6.firstChild) {
                    resultContainer6.removeChild(resultContainer6.firstChild);
                }
                while (resultContainer7.firstChild) {
                    resultContainer7.removeChild(resultContainer7.firstChild);
                }
                // response contains valid result
                response.json().then(function(data) {
                    // loop through JSON and build HTML output
                    for (let i = 0; i < data.length; i++) {
                        console.log(data)
                        const td = document.createElement("td");
                        td.innerHTML = data[i].name;
                        resultContainer1.appendChild(td);
                    }
                    for (let i = 0; i < data.length; i++) {
                        const td = document.createElement("td");
                        td.innerHTML = data[i].group;
                        resultContainer2.appendChild(td);
                    }
                    for (let i = 0; i < data.length; i++) {
                        const td = document.createElement("td");
                        td.innerHTML = data[i].grade;
                        resultContainer3.appendChild(td);
                    }
                    for (let i = 0; i < data.length; i++) {
                        const td = document.createElement("td");
                        td.innerHTML = data[i].period;
                        resultContainer4.appendChild(td);
                    }
                    for (let i = 0; i < data.length; i++) {
                        const td = document.createElement("td");
                        td.innerHTML = data[i].email;
                        resultContainer5.appendChild(td);
                    }
                    for (let i = 0; i < data.length; i++) {
                        const td = document.createElement("td");
                        td.innerHTML = data[i].ghName;
                        resultContainer6.appendChild(td);
                    }
                    for (let i = 0; i < data.length; i++) {
                        const td = document.createElement("td");
                        td.innerHTML = data[i].slName;
                        resultContainer7.appendChild(td);
                    }
                })
            })
    }
</script>



