<p>NAVIGATION:</p>
<table>
    <tr>
      <td><a href="https://nastylegacy.github.io/NastyLegacy">Home Page</a></td>
      <td><a href="https://nastylegacy.github.io/NastyLegacy/docs/req">Project Owner Requirements and Progress</a></td>
      <td><a href="https://nastylegacy.github.io/NastyLegacy/docs/description">Project Description</a></td>
      <td><a href="https://nastylegacy.github.io/NastyLegacy/docs/ideas">Wireframes and Ideas</a></td>
      <td><a href="https://nastylegacy.github.io/NastyLegacy/docs/about">About the team</a></td>
      <td><a href="https://nastylegacy.github.io/NastyLegacy/docs/technical">About the project</a></td>
    </tr>
</table>
<hr>
