<p>NAVIGATION:</p>
<table>
    <tr>
      <td><a href="https://nastyethan.github.io/NastyLegacy">Home Page</a></td>
    </tr>
    <tr>
      <td><a href="https://nastyethan.github.io/NastyLegacy/req">Project Owner Requirements and Progress</a></td>
    </tr>
    <tr>
      <td><a href="https://nastyethan.github.io/NastyLegacy/description">Project Description</a></td>
    </tr>
    <tr>
      <td><a href="https://nastyethan.github.io/NastyLegacy/ideas">Wireframes and Ideas</a></td>
    </tr>
</table>
<hr>
