<!-- This variable sets name of browser tab  -->
{% extends "layouts/base.html" %}

{% set project = "About" %}

{% block background %}
    <body style="background-color: #5B3B8C;">  </body>
{% endblock %}

{% block body %}
<style>

</style>
    <br>
    <h1>Del Norte CS Students Page</h1>
    <br>
    <div class="text-center">
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <h2> The CSP Nighthawk Coding Society Page </h2>
                    <button class="button button1"><a  style = "text-decoration:none;" href="https://csp.nighthawkcodingsociety.com/">CSP</a></button>
                </div>

                <div class="col">
                    <h2> The CSA Nighthawk Coding Society Page </h2>
                    <button class="button button1"><a  style = "text-decoration:none;" href="https://csa.nighthawkcodingsociety.com/">CSA</a></button>
                </div>

            </div>
            <div class="row">
                <br>
                <br>
                <br>
                <button class="button1"><a  style = "text-decoration:none;" href={{ url_for('usercrud.crudu') }}>Detailed student information</a></button>
                <button class="button1"><a  style = "text-decoration:none;" href="http://127.0.0.1:5000/admin/">Admin</a></button>
            </div>
        </div>
    </div>



{% endblock %}
